.splashBackground
{
	background: url(../images/BG.jpg) center center no-repeat;
	position: relative;
}
.splashBackground .km-content, #slideShow .km-content
{
	background: none !important;
}

.overlayeffect { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #657383; opacity: 0.5; z-index: 10000; }